.git
.github
.turbo
.DS_Store
node_modules
**/node_modules
dist
**/dist
.next
**/.next
coverage
**/coverage
test-results
**/test-results
playwright-report
**/playwright-report
tmp
*.log
*.tsbuildinfo
**/*.tsbuildinfo
**/.env.local
**/.env.development.local
**/.env.test.local
**/.expo
**/.maestro
apps/mobile/android
apps/mobile/ios
apps/mobile/dist-android
apps/mobile/dist-ios
apps/mobile/ios/build
apps/mobile/android/app/build
