api.opensocial.so {
  reverse_proxy opensocial-api:3000
}

admin.opensocial.so {
  reverse_proxy opensocial-admin:3001
}

app.opensocial.so {
  reverse_proxy opensocial-web:3002
}

docs.opensocial.so {
  reverse_proxy opensocial-docs:3003
}
