opensocial.so {
  redir https://app.opensocial.so{uri} permanent
}

api.opensocial.so {
  respond "OpenSocial API is temporarily unavailable." 503
}

origin-api.opensocial.so {
  respond "OpenSocial API is temporarily unavailable." 503
}

admin.opensocial.so {
  reverse_proxy opensocial-admin:3001
}

app.opensocial.so {
  reverse_proxy opensocial-web:3002
}

docs.opensocial.so {
  reverse_proxy opensocial-docs:3003
}
